/* Navigation Menu */

#nav-bar
{
    position : sticky;
    top: 0;
    z-index: 10;
}

.navbar
{

    background-image: linear-gradient(to right,#AA0000,#fd5c63);
    padding: 0 !important; 
    
    
}


.navbar-brand img
{
    border-radius: 70%;
    width: 80px;
    padding: 5px;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.nav-item:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.119) 30%, #000 50%, rgba(0, 0, 0, 0.411) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }




.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler
{
    border: none!important;
    box-shadow: none !important;
}


/* Main Banner */
.promo-title{
    font-family: 'Times New Roman', Times, serif;

}


#banner
{
    
    background-image: linear-gradient(to right,#AA0000,#fd5c63);
    color : #fff;
    padding-top: 40px;
    font-size: 18px;
}

.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
}

.play-btn
{
    width: 45px;
    margin: 20px;
}

#banner a
{
    color: #fff;
    text-decoration: none;
}

.bottem-img
{
    width: 100%;
}

/* Servise Banner */

#service
{
    padding: 60px 0;
    font-size: 18px;
}

.row-service
{
    margin: 50px 0 !important;
}
.service-img
{
    width: 120px;
    margin-top: 10px;
    
}

.service
{
    padding: 10px;
}

.service h4
{
    text-transform: uppercase;
    padding: 20px 0;
}

.title
{
    padding-top: 50px;
    font-size: 40px;
    font-weight: 500;
}

.title::after
{
    content: '';
    background: #AA0000;
    height: 5px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title::before
{
    content: '';
    background: #AA0000;
    height: 10px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(67px);
}

#service .btn-primary
{
    box-shadow: none;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    background-image: linear-gradient(to right,#AA0000,#fd5c63);
}

/* About Us Banner */

#about-us
{
    background: #f0efef;
    padding: 60px 0;
}

.row-about
{
    margin-top: 50px !important;
}

.list-title
{
    font-size: 40px;
}

.about-us ul li
{
    font-size: 18px;
    padding: 10px 0;
   
}

.about-us ul
{
    margin-top: 20px;
    margin-left: 10px;
}

/* Testimonial */

#testimonial
{
    padding: 50px 0;
}

.row-testimonial
{
    margin-top: 70px !important;
}

.testimonial p
{
    font-size: 19px;
}

.testimonial
{
    border-left: 5px solid #AA0000;
    margin-bottom: 50px;
}

.user-img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px !important;
}

.user-details
{
    display: inline-block;
    font-size: 20px !important;
    margin-left: 10px !important;
}

/* Social Media */

#social-media
{
    background: #f0efef;
    padding: 40px 0;
}

.media-title
{
    position: relative;
    top: -3px;
    bottom: 50px;
    font-size: 36px;
}

.social-icons
{
    padding: 40px 0;
}

.social-icons img
{
    width: 60px;
    margin: 20px;
    transition: 0.3s;
}

.social-icons img:hover
{
    transform: translateY(-10px);
}

.wave
{
    width: 100%;
}

.test
{
    background-color: #5f1782;
    width: 100%;
    height: 500px;
}

/* Footer */

#footer
{
    background-image: linear-gradient(to right,#AA0000,#fd5c63);
    color:#fff;
}

.footer-row
{
    margin-top: 20px!important;
}

.footer-box
{
    /* margin-top: 20px !important; */
    
}
.footer-img
{ 
    width: 100%;
}

.footer-box img
{
    width: 140px;
    height: 140px;
    
    
}

.footer-box .fa
{
   font-size: 25px;
   padding: 10px;
   width: 50px;
   height: 50px;
   border-radius: 3px;
   background-image: linear-gradient(to right,#022873,#89c5f3);
   text-align: center;
   margin-right: 10px;
}

.footer-box .form-control
{
    box-shadow: none !important;
    width: 300px;
}

.footer-box .btn-primary
{
    box-shadow: none !important;
    outline: none;
    border: none;
    margin-top: 25px;
    background-image: linear-gradient(to right,#022873,#89c5f3);
    padding: 10px 20px;
}

#footer hr
{
    border: 2px solid #fff !important;
}

.copyright
{
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 10px !important;
}

html 
{
    scroll-behavior: smooth;
}

/* Scroll Bar Style */

::-webkit-scrollbar
{
    width: 15px;
}

::-webkit-scrollbar-track
{
    background: #f0efef;
}

::-webkit-scrollbar-thumb
{
    background: linear-gradient(#AA0000,#fd5c63);
    border-radius: 10px;
}

.resume button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  